*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}
form {
    width: 400px;
    
    border: 1px solid pink;
    margin: 40px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}
.row {
    display: flex;
    gap: 15px;
}
input {
    width: 100%;
    height: 30px;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid silver;
}
button{
    width: 100% ;
    padding: 5px;
    margin-top: 10px;
    background-color: palevioletred;
    border-radius: 5px; ;
    border: 1px solid palevioletred;
   


}
body{
    background-color: pink;
    
}
