.hero{
    background-image: url(adel.jpg) ;
    height: 80vh;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    
}
body {
    font-family: "Sour Gummy", sans-serif;
}